body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*.form-control {
	width: 150px;
}*/

/*.container-fluid {
	width: 600px;
}*/

.btn-group {
	padding: 2px 0px 0px 0px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	display: none;
	margin: 5px 0;
}

.level-bar {
	margin: 5px 0;
}
/*
.question {
	font-size: 20pt;
}*/